{% extends 'base.html' %}

{% block title %}Events{% endblock %}
{% load static %}






{% block content %}

<div class="our-causes">
        <div class="container">
        <h2>Events</h2>
            <div class="row">
            
            {% for event in events %}
            
                    <div class="col-12 col-md-6 col-lg-4">

                    <div class="cause-wrap">
                        <figure class="m-0">
                        {% if event.event_image %}
                        <img src="{{ event.event_image.url }}" alt="{{ event.title }}">
                        {% else %}
                         <img src="{% static "img/cause-6.jpg" %}" alt="">

                        {%endif%}
                           

                            <div class="figure-overlay d-flex justify-content-center align-items-center position-absolute w-100 h-100">
                                <a href="#" class="btn gradient-bg mr-2">Interested</a>
                            </div><!-- .figure-overlay -->
                        </figure>

                        <div class="cause-content-wrap">
                            <header class="entry-header d-flex flex-wrap align-items-center">
                                <h3 class="entry-title w-100 m-0"><a href="#">{{ event.title }}</a></h3>
                            </header><!-- .entry-header -->

                            <div class="entry-content">
                                <p class="m-0">{{ event.short_description }}</p>
                            </div><!-- .entry-content -->

                            <div class="fund-raised w-100">

                                <div class="fund-raised-bar-3 barfiller">
                                    <div class="tipWrap">
                                        <span class="tip"></span>
                                    </div><!-- .tipWrap -->

                                    <span class="fill" data-percentage="0"></span>
                                </div>

                                 <div class="fund-raised-details d-flex flex-wrap justify-content-between align-items-center">

                                    <div class="fund-raised-total mt-4">
                                        Start on : {{ event.start_time }}
                                    </div>

                                    <div class="fund-raised-goal mt-4">
                                        Ends on : {{ event.end_time }}
                                    </div>
                                </div> 


                            </div><!-- .fund-raised -->
                        </div><!-- .cause-content-wrap -->
                    </div><!-- .cause-wrap -->
                </div><!-- .col -->
                {% endfor %}
            </div><!-- .row -->
        </div><!-- .container -->
        </div>
{% endblock content %}